[build]
  command = "npm run build"
  publish = "dist"

[context.production.environment]
  NODE_VERSION = "18"
  VITE_SUPABASE_URL = "https://libzvdbgixckggmivspg.supabase.co"
  VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxpYnp2ZGJnaXhja2dnbWl2c3BnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA5MDI2OTMsImV4cCI6MjA3NjQ3ODY5M30.I4uFHXFXk23skBUm97HKxDhozDecUMrDefc3YBoy4_U"
  VITE_DEV_MODE = "false"

# SPA redirect por último (não precisa regra especial p/ PWA)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
